/* RESET*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* TITOLO */

h1{
    width: 100%;
    color: #e53170;
    text-align: center;
    margin-top: 30px;
    font-family: 'Fredoka One';
}

.subtitle{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 5%;
    font-family: 'Fredoka';
}

main{
    margin: 0 auto;
    width: 1100px;
    padding: 0 80px;
}

/* ID CARDS */

.card{
    color: #ffffff;
    height: 100%;
    width: calc(100% / 3 - 20px);
    float: left;
    padding-bottom: 30px;
    margin: 10px;
}

.card img{
    height: 100px;
    float: left;
    aspect-ratio: 1;
    box-shadow: 0px 0px 18px 1px #000000;
}

.info{
    width: calc(100% - 100px);
    height: 100px;
    background-color: #0f0e17;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    display: inline;
    font-family: 'Fredoka';
    box-shadow: 0px 0px 18px 1px #000000;
}

.info a{
    color: #3cc5ff;
    text-decoration: none;
}

.info-center{
    position: relative;
    top: 50%;
    line-height: 25px;
    transform: translateY(-50%);
}